body{
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1
{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size:  5.625rem;
  color: #66BFBF;

}
h2
{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2;
}
h3
{
  color: #11999E;
  font-weight: normal;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-top-color: #EAF6F6;
  border-top-width: 6px ;
  width: 4%;
  margin: 100px auto;
}
.topcontainer{
  background-color: #E3FDFD;
  padding-top: 100px;
  margin-bottom: 50px;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px;
  margin-top: 100px;
}
.middle-container{

}

.cloud1{
  position: absolute;
  right: 300px;
  top: 30px;
}
.cloud2{
  position: absolute;
  left: 350px;
}
.programmer{
  margin-top: 0px;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 3;
}
.frontend-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.c-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.footer-link{
  color: #11999E;
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
.footer-link:hover{
  color: white;
}
.copyright{
  color: white;
  margin-top: 30px;
  font-size: 0.75rem;
  margin-bottom: 0;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:'Montserrat', sans-serif ;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.contact-message{
  width: 40%;
  margin: 50px auto 100px auto;
}
.intro{
  width: 30%;
  margin: 0 auto 0 auto;
}
